@font-face {
  font-family: "Mozilla Headline";
  src: local("Mozilla Headline"), url(https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700);
}
body {
  font-family: "Mozilla Headline", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}
header {
  text-align: center;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28pt;
  text-align: center;
}
.contact-info {
  font-size: 14pt;
}
.category-label {
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
}
.indented {
  margin-left: 25px;
}
