body {
  margin: 0;
  padding: 0;
  min-width: 525px;
}

header,
footer {
  float: left;
  width: 100%;
  background-color: #7152f4;
  color: #fff;
}
main {
  float: left;
  overflow: hidden;
  padding-left: 200px;
  padding-right: 125px;
}
#main-content {
  position: relative;
  float: left;
  background-color: #fff;
  width: 100%;
}
#secondary-content {
  position: relative;
  float: left;
  width: 200px;
  background-color: #52f471;
  right: 200px;
  margin-left: -100%;
}
#tertiary-content {
  position: relative;
  float: left;
  width: 125px;
  background-color: #f452d5;
  margin-right: -125px;
}
#main-content,
#secondary-content,
#tertiary-content {
  margin-bottom: -2000px;
  padding-bottom: 2000px;
}
footer {
  position: relative;
  text-align: center;
}